
fieldset
	border: 1px solid var( --color-mark )
	position: relative
	padding: 1rem

	& > legend
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: nowrap
		padding: 0px 1em

		& > aside
			position: absolute
			right: 1rem
			top: 0px
			background: var( --color-background )
			padding: 0px 1em

		& > nav
			display: flex
			align-items: center
			justify-content: center
			flex-wrap: nowrap
			grid-gap: 1rem
			& > a:not(.active):not(:hover)
				color: var(--color-extra) !important